h1 {
  text-align: center;
}

p {
  text-align: center;
  max-width: 100px;
}

img {
  display: block;
  margin: auto;
  width: 40%;
  padding: 10px;
}

ul {
  text-align: center;
}

p {
  color: #435357;
  font-family: 'Cormorant', "Times New Roman", serif;
}

article {
  color: #435357;
  font-family: 'Cormorant', "Times New Roman", serif;
}

h1 {
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  font-style: oblique;
  font-size: 4em;
  color: #256E7F
}

a:link{
  font-family:'Cormorant', "Times New Roman", serif;
  font-style: italic;
  color: #57A7BA;
}

a:visited {
  color: #C4F4FF;
}

a:hover {
  color: white
}

a img {
  border: none
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
}

li{
  display: inline-block;
  padding: 8px;
  background-color: #256E7F
}

body {
  background-color: #CFE1EB
}

.navigation {
  display:flex;
  flex-flow: column;
  justify-content: flex-end;
  list-style: none;
  }

  @media (min-width: 800px){
      .navigation {
          display:flex;
          flex-flow: row;
          justify-content: space-between;
      }

      #main {
        display: flex;
        max-width: 100px;
      }

        article {
            flex-grow: 2;
            order: 2;
            max-width: 100px;
        }

        .aside {
            display: flex;
            order: 1;
            width: 100%;
        }

        @media screen and (min-width:1000px){

          .wrapper{
            display: flex;
            flex-flow:row;
          }

          #nav ul{
            display:flex;
            flex-flow:column;
          }

          #nav li{
            border-right:none;
            border-bottom:1px solid rgba(255,255,255,.5);
          }

          #nav li:last-child {
            border-bottom: none;
          }

          #content{
            order:1;
            margin:10px;
          }

          #sidebar{
            order:3;
            margin:10px;
          }

          #nav{
            order:2;
            margin:10px;
            align-self: flex-start;
          }

          #footer{
            order:4;
          }

        }
